*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    color: #000;
}



header{
    padding: 0px 2.5%;
    margin-bottom: 1%;

    background-color: #000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav, header ul, header il, header a{
    background-color: #000;
    color: #FFFFFF;
}

header a:hover{
    color: #BF7F00;
}

#pratosPrincipais{
    margin-left: 1%;
    margin-bottom: 2%;

    color: #000;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    text-align: justify;

    width: 50%;
    height: 50%;
}

#pratosPrincipais img{
    padding: 3%;
}

.pratoApresentacao{
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1%;
    margin: 10%;
    border-radius: 10px;
}

.pratoApresentacao button{
    margin-top: 5%;
}

.pratoApresentacao img, .pratoApresentacao a{
    color: #000;
    align-items: center;
}

.pratoApresentacao a{
    align-self: center;
    text-align: center;
}

nav{
    font-size: 30px;
    justify-content: space-around;
}

.pratoApresentacao a:hover{
    color: #FFFFFF;
}

button:hover{
    background-color: #ffaa00;
}

button{
    display: flex;
    align-self: center;
    background-color: #fdda93;
    align-content: center;
    border: none;
    text-align: center;
    display: inline-block;

    font-size: 150%;
    border-radius: 9px;
    height: 110%;
    width: 120%;
}

footer p, footer il, footer ul{
    color: #ffffff;
    background-color: #000;

}

img{
    height: 240px;
}

footer{
    background-color: #000;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 10%;
    font-size: 150%;
    flex-wrap: wrap;
}